@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 45 30% 94%;
    --foreground: 20 14% 24%;
 
    --muted: 45 15% 84%;
    --muted-foreground: 20 14% 44%;
 
    --popover: 45 30% 94%;
    --popover-foreground: 20 14% 24%;
 
    --card: 45 30% 94%;
    --card-foreground: 20 14% 24%;
 
    --border: 20 14% 84%;
    --input: 20 14% 84%;
 
    --primary: 6 73% 53%;
    --primary-foreground: 45 30% 94%;
 
    --secondary: 45 90% 57%;
    --secondary-foreground: 20 14% 24%;
 
    --accent: 212 54% 54%;
    --accent-foreground: 45 30% 94%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 45 30% 94%;
 
    --ring: 20 14% 84%;
 
    --radius: 0.5rem;
  }
}

@layer utilities {
  .animate-float {
    animation: float 6s ease-in-out infinite;
  }

  .animate-float-delayed {
    animation: float 6s ease-in-out infinite;
    animation-delay: 2s;
  }

  .animate-bounce-slow {
    animation: bounce 3s ease-in-out infinite;
  }
}
 
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}