@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 230 24% 14%;
    --foreground: 0 0% 100%;

    --card: 230 24% 14%;
    --card-foreground: 0 0% 100%;

    --popover: 230 24% 14%;
    --popover-foreground: 0 0% 100%;

    --primary: 255 86% 66%;
    --primary-foreground: 0 0% 100%;

    --secondary: 199 75% 49%;
    --secondary-foreground: 0 0% 100%;

    --muted: 230 24% 24%;
    --muted-foreground: 0 0% 80%;

    --accent: 230 24% 14%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 230 24% 24%;
    --input: 230 24% 24%;
    --ring: 255 86% 66%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}